@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
html * {
  scrollbar-width: thin;
  scrollbar-color: #fa1dff;
}
*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 2px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #fa1dff;
}
body {
  background: #000000;
  margin: 0;
  max-width: 100vw;
}
.wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 37px;
  padding-right: 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  color: #fa1dff;
  font-family: Neue Machina;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  border-radius: 25px;
  border: 1px solid #fa1dff;
  padding: 14px 14px 14px 14px;
  margin-left: 3em;
  text-decoration: none;
}
.logo {
  color: #fa1dff;
  font-family: Neue Machina;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-flex;
  gap: 0.3em;
}
.logo img {
  width: 28px;
  height: 41px;
}
.text {
  color: #fff;
  font-family: Neue Machina;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
}
.text2 {
  color: #fffbfb;
  font-family: Neue Machina;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 40px;
}
.maincontent {
  display: flex;
  justify-content: space-between;
  padding-top: 106px;
}
.maintext {
  flex-grow: 1;
}
.maincontent img {
  width: 399px;
  flex-shrink: 0;
  padding-top: 187px;
}
h1 {
  font-size: 40px;
}

.maintext h1,
h2 {
  padding-bottom: 19px;
  margin: 0;
}
img {
  background-position: 25% 75%;
}
.title {
  color: #be54ff;
  font-family: Neue Machina;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  padding-bottom: 68px;
  padding-left: 40px;
}
.footer {
  color: #be54ff;
  font-family: Neue Machina;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding-left: 40px;
  padding-bottom: 85px;
  padding-top: 60px;
}
.footertext {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  padding-left: 40px;
}
.back {
  color: #fa1dff;
  font-family: Neue Machina;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: inline-block;
  min-width: 100%;
  text-align: right;
  cursor: pointer;
}
.back p {
  padding-right: 88px;
  padding-top: 70px;
}
.skills {
  color: #be54ff;
  font-family: Neue Machina;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* text-decoration-line: underline; */
  margin: 0;
  padding-left: 40px;
}
#Python {
  max-width: 260.376px;
  max-height: 260.376px;
  padding-left: 0;
}

.charts {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
#NodeJs {
  max-width: 260.376px;
  max-height: 260.376px;
  padding-left: 0;
}
#HtmlCss {
  max-width: 260.376px;
  max-height: 260.376px;
  padding-left: 0;
}
.socialbutton {
  border-radius: 25px;
  background: linear-gradient(
    127deg,
    #be72f9 19.1%,
    rgba(243, 7, 247, 0) 126.03%
  );
  text-align: center;
  padding: 21px 78px;
  cursor: pointer;
}
.textskills {
  color: #fff;
  font-family: Neue Machina;
  font-size: 20.445px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  padding-inline: 3em;
}
.portfolio {
  color: #be54ff;
  font-family: Neue Machina;
  font-size: 40.889px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* text-decoration-line: underline; */
  padding-left: 40px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.carousel {
  width: 90%; /* Установите ширину слайдера по вашему выбору */
  margin: 0 auto; /* Центрируйте слайдер на странице */
}

.slide {
  text-align: center;
  max-width: 734px;
  max-height: 477px;
  padding: 50px;
}

.slide img {
  max-width: 100%; /* Сделайте изображения адаптивными */
  transition: transform 0.3s ease-in-out;
}

.slick-center img {
  transform: scale(1.2); /* Увеличение размера на 20% */
}
.textportfolio {
  color: #fff;
  font-family: Neue Machina;
  font-size: 20.445px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}
#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #fa1dff;
  margin: 0px;
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}
#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  /* position: fixed; */
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  display: none;
  border: none;
  padding: 0px;
  font-family: Neue Machina;
  margin: 20px;
  background: linear-gradient(
    to bottom,
    #fa1dff,
    #fa1dff 20%,
    #000000 20%,
    #000000 40%,
    #fa1dff 40%,
    #fa1dff 60%,
    #000000 60%,
    #000000 80%,
    #fa1dff 80%,
    #fa1dff 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibilty: hidden;
  position: fixed;
  top: 0;
  right: -250px;
  width: 200px;
  height: 100%;
  background-color: #fa1dff;
  padding: 0px 10px;
  transition: 0.3s;
  box-sizing: border-box;
  z-index: 10001;
}
#hamburger-menu h3 {
  color: #fff;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}
#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}
#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  right: 0;
}
#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

@media (max-width: 600px) {
  .footertext {
    flex-direction: column;
    gap: 1em;
    max-width: 60%;
    padding-left: 0;
  }
  .socialbutton {
    padding: 12px 48px;
  }
  .footerwrapper {
    display: flex;
    justify-content: center;
    min-width: 100vw;
  }
  .nav {
    display: none;
  }
  .logo {
    font-size: 30px;
  }
  .maincontent img {
    display: none;
  }
  .charts {
    flex-direction: column;
    gap: 1em;
  }
  .chartswrapper {
    display: flex;
    justify-content: center;
    min-width: 100vw;
  }
  .carousel {
    max-width: 90vw;
    width: 80%;
  }
  .slide {
    padding: 15px;
  }
  .title {
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 2px;
  }
  .text {
    font-size: 28px;
    padding-left: 20px;
  }
  .wrap {
    padding-left: 20px;
  }
  .maincontent {
    padding-top: 40px;
  }
  .text2 {
    padding-left: 20px;
  }
  .skills {
    padding-left: 20px;
    font-size: 30px;
  }
  .portfolio {
    font-size: 30px;
    padding-left: 20px;
  }
  .footer {
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .back {
    font-size: 20px;
  }
  .back svg {
    width: 50px;
    height: 14px;
  }
  .back p {
    padding-right: 30px;
  }
  .logo img {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  #main-menu {
    display: none;
  }
}
